@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  font-family: "Rubik", sans-serif;
}

.heropagee {
  background-image: url("./assets/heropageBackground.png");
  height: 10%;
}
.heropagee img {
  width: 100%;
}

@media (max-width: 996px) {
  .dealsGrid1 {
    display: none !important;
  }
}
.dealsGrid1 {
  align-items: center;
  margin: 0 auto;
  align-content: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 22%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.dealsGrid1 h6 {
  font-size: 20px;
}
.dealsGrid1 p:hover {
  color: #FDC500;
  font-size: 15px;
  cursor: pointer;
}
.dealsGrid1 a {
  color: black;
  text-decoration: none;
}
.dealsGrid1 a:hover {
  color: #FDC500;
  text-decoration: none;
}

.dealsGrid2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 20px;
  gap: 10%;
}
.dealsGrid2 img {
  width: 70px;
}
.dealsGrid2 p {
  font-size: 12px;
  text-align: center;
}

.dealsGrid {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4%;
}
.dealsGrid a {
  text-decoration: none;
  color: black;
}
.dealsGrid p {
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}
.dealsGrid p:hover {
  cursor: pointer;
  color: #FDC500;
}

.displaNONE:hover {
  border-bottom: 2px solid #FDC500;
}

.deals {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.deals .dealInput {
  position: relative;
}
.deals .dealInput img {
  position: absolute;
  right: 1%;
  bottom: 2%;
  width: 40px;
}
.deals input {
  border-radius: 30px;
  border: 1px solid #FDC500;
  width: 25%;
  padding: 10px;
}
.deals input:focus {
  outline: none;
  border-radius: 30px;
  border: 1px solid #2F5DFF;
  width: 25%;
  padding: 10px;
  background-color: #fff4df;
}
.deals input::-moz-placeholder {
  padding: 5px;
  font-size: 15px;
  color: rgb(214, 214, 214);
}
.deals input::placeholder {
  padding: 5px;
  font-size: 15px;
  color: rgb(214, 214, 214);
}

.gaming {
  background-color: #0533D4;
}
.gaming h6 {
  text-align: center;
  padding: 10px;
  color: white;
}

.gamingSection {
  margin: 0 auto;
  justify-content: center;
  width: 88%;
  height: 100%;
  align-items: center;
}
.gamingSection .grid {
  width: 98%;
  margin: 0 auto;
  line-height: 20px;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  justify-content: space-between;
  gap: 10px;
}
.gamingSection .grid p {
  font-size: 2px;
  padding-top: 10px;
}
.gamingSection .grid h6 {
  font-size: 20px;
  width: 50%;
}
.gamingSection .grid img {
  width: 100%;
}
.gamingSection .grid button {
  background-color: #FDC500;
  border: none;
  color: white;
}
.gamingSection .grid button:hover {
  background-color: #0533D4;
  transition: 1s ease;
  border: none;
}
.gamingSection .grid .products p {
  font-size: 30px;
}
.gamingSection .grid .products:hover {
  border: 2px solid #FDC500;
  border-radius: 10px;
}