
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$font-family: 'Rubik', sans-serif;

$var_main-Color: #010C33;
$var_orange-Color: #FFB020;
$var_marquee-Color: #021455;
$var_buttonHover-Color: #829EFF;