@import "./partials/variables";

* {
    font-family: $font-family;
}

// heropage
.heropagee {

    background-repeat: no-repeat;
    position: relative;

    .Main {
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        color: white;
        top: 30%;
        right: 37%;
        h4 {
            font-size: 50px;
        }
        p {
            font-size: 25px;
        }
    }

    @media (max-width: 936px) {
        .Main {
            top: 30%;
            right: 35%;
            h4 {
                font-size: 30px;
            }
            p {
                font-size: 20px;
            }
        }
    }
    @media (max-width: 364px) {
        .Main {
            top: 15%;
            right: 35%;
            line-height: 5px;
            h4 {
                font-size: 15px;
            }
            p {
                font-size: 10px;
            }
        }
    }
    // height: 10% ;
    img {
        width: 100%;
    }
}

@media (max-width:996px) {
    .dealsGrid1 {
        display: none !important;
    }
    
}
// .hero3 {
//     background-image: url(./carose1.png);
//     height: 100vh;
//     width: 100%;
//     background-color: red;
// }


 
  
// heropage end


// absolute
.dealsGrid1 {
    align-items: center;
    margin: 0 auto;
    align-content: center;
    width: 60%;
    // background-color: yellow;
    position: absolute;
    top: 55%;
    left: 22%;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    h6 {
        font-size: 20px;
    }
    p:hover {
        color: #FDC500;
        font-size: 15px;
        cursor: pointer;
    }

    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: #FDC500;
        text-decoration: none;
        
    }
}

// absolute end



.dealsGrid2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 20px;
    gap: 10%;
 
    img {
        width: 70px;
    }
    p {
        font-size: 12px;
        text-align: center;
    }
}

.dealsGrid {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;

    a {
        text-decoration: none;
        color: black;
    }
    p {
        font-size: 12px;
        text-align: center;
        padding-top: 5px;
    }
    p:hover {
        cursor: pointer;
        color: #FDC500;
    }
}


.displaNONE:hover {
    border-bottom: 2px solid #FDC500;
}
// deals section
.deals {
    margin: 0 auto;
    width: 90%;
    height: 100%;

    .dealInput {
        // position: relative;
        // text-align: center;
        // align-items: center;

        img {
            // position: absolute;
            // right: 1%;
            // bottom: 2%;
            width: 40px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border: 1px solid #FDC500;
            border-left: none;
        }

        
    }

    input {
        border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        // border-radius: 30px;
        border: 1px solid #FDC500;
        border-right: none;
        width: 25%;
        padding: 30px;
    }
    input:focus {
        outline: none;
        border-radius: 30px;
        border: 1px solid #2F5DFF;
        width: 25%;
        padding: 10px;
        background-color: #fff4df;
    }

    input::placeholder {
        padding: 5px;
        font-size: 15px;
        color: rgb(214, 214, 214);
    }
}


// gaming section
.gaming {
    background-color: #0533D4;

    h6 {
        text-align: center;
        padding: 10px;
        color: white;
    }
}


.gamingSection {
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;

    
    .grid {
        width: 98%;
        margin: 0 auto;
        line-height: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        justify-content: space-between;
        gap: 10px;

        p{
            font-size: 20px;
            padding-top: 10px;
        }
        h6 {
            font-size: 20px;
            width: 50%;
        }
        img {
            width: 100%;
        }
        button {
            background-color: #FDC500;
            border: none;
            color: white;
        }
        button:hover {
            background-color: #0533D4;
            transition: 1s ease;
            border: none;
        }

        .products{
            img {
                width: 300px;
                height: 300px;
            }
        }

       .products:hover {
        border: 2px solid #FDC500;
        border-radius: 10px;
    
    } 
    .discount {
        margin: 0 auto;
        background-color: $var_main-Color;
        color: white;
        text-align: center;

        .strike {
            font-size: 18px;
            color: #7b7b7b;
  
        }
        
    }
    .discount:hover {
            background-color: #FDC500;

            p {
                color: #0533D4;
            }
        }
    } 

    
}
 

// hr

hr {
    border: 1px solid rgb(215, 215, 215) !important;
}

// PICKUP PAGE

.checck {
    max-width: 100%;
}
.prodCart {
    background-color: white;
    max-height: 80%;
    max-width: 90%;
    gap: 40px;
    .mainFLEX {
        max-height: 50%;
         border-radius: 10px;

         .left {
            padding: 10px;
            background-color: #FDC500;
            text-align: center;
            font-weight: 500;
         }
    }
   
   
    p {
        font-size: 18px;
    }
    h4 {
        font-size: 25px;
    }
}  

.Karr {
  .checkout {
    color: white;
    background-color: $var_main-Color;
    cursor: pointer;
    font-size: 18px;
    i:hover {
        color: #FDC500;
    }
}   
    .or {
        text-align: center;
        font-size: 20px;
    }
    .bttn  {
        text-align: center;
        justify-content: center;
        align-items: center;

        .bttin {
            border-radius: 5px;
            font-size: 20px;
            background-color: $var_main-Color;
            border: none;
            color: white;
        }
        .bttin:hover {
            border-radius: 5px;
            font-size: 20px;
            background-color: #FDC500;
            border: none;
            color: $var_main-Color;
            // transition: 1s ease;
        }
        img {
            width: 100%;
        }
    }
    .checkout2 {
        // color: white;
        font-size: 18px;
    } 
    .total {
        color: #FDC500;
    }

    .checkbux {
        font-size: 18px;
    }
}
 // PICKUP PAGE end

//  Review

.review{
    margin: 0 auto;
    width: 90%;
    justify-content: center;


    .head {
        p {
            text-align: center;
        }

        .downPart {
            border: 1px solid rgb(237, 237, 237);
            border-radius: 10px;
            max-width: 50%;
            margin: 0 auto;
                justify-content: center;
                gap: 50%;
            .left {
                
                line-height: 20px;
                .star {
                    text-align: center;
                    color: #FDC500;
                }
            }

            .right {
                i {
                    font-size: 20px;
                    color: #FDC500;
                }
                .progress {
                    width: 200px;
                    border-radius: 15px;
                    background-color: #FDC500;
                    border: none;
                }
            }
        }
    }
}


.rev {
    max-width: 1950%;
    margin: 0 auto;
    justify-content: center;

    .grid {
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
        gap: 30px;
        // justify-content: space-between;
    }
}
.reeeev {
    width: 15%;
    border-radius: 15px;
    background-color: white;

    i {
        color: #FDC500;
    }
    .gray {
        color: #cecece !important;
    }

    .down {
        color: #7b7b7b;
    }
}

.reeeev:hover {
    border: 2px solid #FDC500;
}
//  Review end



// number selector
.number-selector {
    display: flex;
    align-items: center;
  }
  
  .input-number {
    width: 40px;
    text-align: center;
    border: none;
  }
  
  .minus-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    border-radius: 50%;
    border: 1px solid $var_main-Color;
    background-color: $var_main-Color;
    cursor: pointer;
    user-select: none;
    margin: 0 5px;
  }

  .plus-btn {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #FDC500;
    background-color: #FDC500;
    cursor: pointer;
    user-select: none;
    margin: 0 5px;
  }
  
  .plus-btn:hover,
  .minus-btn:hover {
    // background-color: $var_main-Color;
    color: white;
  }


// PICKUP PAGE end


// SignIn and Out

.siggn {
    margin: 0 auto;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    .backg {
        
      img{
        width: 100%;
        height: 80%;
    }
    
            } 
            
        .form {
            width: 30%;
            position: absolute;
            top: 10%;
            left: 35%;

        button {
            border: none;
        }
        .join {
            background-color: #303030;
            color: white;
            border-right: 1px solid rgb(222, 222, 222);
        }
        .join:focus {
            background-color: #FDC500;
            color: white;
            border-bottom: 2px solid $var_main-Color;
            padding: 20px 0;
        }

        .sign {
            background-color: #FDC500;
            color: white;
        }
        .sign:focus {
            border-bottom: 2px solid $var_main-Color;
            background-color: #FDC500;
            color: white;
        }

        .labe{

            label {
                font-size: 16px;
                font-weight: 400;
                text-align: left !important;
            }
            input {
                border-radius: 5px;
                border: 1px solid gray;
                padding: 10px;

                input::placeholder {
                    font-size: 15px;
                }
            }
            input:focus {
                outline: none;
                background-color: #fff8e0;
            }
            p {
                font-size: 15px;
            }
            .check {
                font-size: 40px;
            }
            .submit {
                background-color: $var_main-Color;
                color: white;
            }

        }




// modal
      
    }
}
    
// SignIn and Out end