@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* body {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif; 
    border: 1px solid re
}
.jewelrybg {
    position: relative;
    
}
.jewelrybg img {
    display: block;
    flex-wrap: wrap;
}
@media (min-width: 500px) {
    .jewelrybg img {
        width:100%;
    }
}

.bgtext {
    text-align: center;
    position: absolute; 
    top: 15%;
    left: 37%;
}
.bgtext p:hover {
    color: white;
}

.bgtext p:last-child {
    font-weight: 100!important;
    margin-top: -30px;
}
.card {
    margin-top: 10px;
    text-align: left;
    align-content: center;
    justify-content: center;
    /* border: 1px solid red; */
    border-collapse: collapse;
    border-radius: 20px;
    /* width: 50%; */
    position: absolute;
    left: 21rem;
    top: 13rem;
    filter: drop-shadow(0.5rem 0 0.5rem rgb(122, 117, 117));
}
.card > p:hover:first-child {
    color: black;
}
.card a {
    text-decoration: none;
}
.card img {
    cursor: pointer;
    width: 5rem;
}
.card p:hover {
    color: #ffb020; 
}
.jewelries  {
    text-align: center;
    text-decoration: none;
    flex-wrap: wrap;
}
.jewelries div p {
    padding-top: 1rem;
}
.hidden i {
    font-size: 50px;
    display: none;
}
.offcanvas {
    align-content: center;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(82, 80, 80); */
    background-color: transparent;
}
.offcanvas a {
    text-decoration: none;
    color: #ffb020;
    font-size: 2rem;
}
.offcanvas img {
    width: 100px;
}
.offcanvas a:hover {
    color:  #2f82fd;
}
@media (max-width:950px) {
    .hidden i {
        display: block;
    }
    .card {
        display: none !important;
    }
    
}   





.resultProducts {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
   
}

.Watch:hover {
    cursor: pointer;
    border: 2px solid #ffb020;
    border-radius: 20px;
}
.WatchCategory:hover {
    cursor: pointer; 
}
img {
    width: 20rem;
}

p {
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
}
a {
    text-decoration: none;
}

p:hover {
    color: #ffb020;
}
button {
    background-color: #ffb020;
    border: none;
    color: white;
    font-size: 13px;
    
}
button:hover {
    background-color: #0533da;
    transition: 1s ease;
    border: none;
}
.resultSection {
    margin-top: 6rem;
}
.resultSectionCategory {
    margin-top: 15rem;
}
