@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

* body {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif; 
    border: 1px solid re
}
.resultProducts {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
   
}

.watch:hover {

    cursor: pointer;
}
img {
    width: 15rem;
}

p {
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

p:hover {
    color: #ffb020;
}
button {
    background-color: #ffb020;
    border: none;
    color: white;
    font-size: 13px;
    
}
button:hover {
    background-color: #0533da;
    transition: 1s ease;
    border: none;
}
.resultSection {
    margin-top: 6rem;
}